/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*TEXTE*/

.decoration-none {
    text-decoration: none;
    /*retirer la ligne sous le texte*/
}

.list-style-none {
    list-style: none;
    /*retirer le rond des liste*/
}

.bold {
    font-weight: 800;
    /*mettre en gras*/
}

.texte-center {
    text-align: center;
    /*centrer le texte*/
}

.majuscule {
    text-transform: uppercase;
    /*majuscule*/
}

.minuscule {
    text-transform: lowercase;
    /*minuscule*/
}

/*Largeurs*/

.width100 {
    width: 100%;
}

.width50 {
    width: 50%;
}

.width48 {
    width: 48%;
}

.width30 {
    width: 30%;
}

.width25 {
    width: 25%;
}

.width20 {
    width: 20%;
}

/*Flex box*/

.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.gap8 {
    gap: 8px;
}

.gap16 {
    gap: 16px;
}

.gap32 {
    gap: 32px;
}

/*margin et padding*/

.margin-top-16 {
    margin-top: 16px;
}

.margin-bot-16 {
    margin-bottom: 16px;
}

.margin-top-32 {
    margin-top: 32px;
}

.margin-bot-32 {
    margin-bottom: 32px;
}

.margin-top-128 {
    margin-top: 128px;
}

.padding-top-16 {
    padding-top: 16px;
}

.padding-bot-32 {
    padding-bottom: 32px;
}

/*container*/

.container1200{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}