*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik",sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.section-hero {
    background-image: url("asset/bg-image-hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    /*100% de la hauteur de l'écran*/
}

.background-grey{
    background-color: grey;
}

.blanc {
    color: white;
}

.background-2 {
    background-image: url("asset/bg-image-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}

.soulignement-lien {
    text-decoration: none;
    color: black;
}
.btn{
    display: inline-block;
    background-color: grey;
    padding: 16px 32px;
    color: white;
    border-radius: 5px;
}
/*Flex box*/
.flex {
    display: flex;
    flex-wrap: wrap;
}

.spacebetween {
    justify-content: space-between;
}

.gap {
    gap: 20px;
}

/*Texte*/
a {
    text-decoration: none;
}

.black {
    color: black;
}
.gras{
    font-weight: 600;
}
/*MARGIN ET PADDING*/
.p-20{
    padding: 20px;
}
.margin20{
    margin-bottom: 10px;
}



/*taille*/
.w40{
    width: 40%;
}
.w30{
    width: 30%;
}





/*TEXTE*/

.decoration-none {
    text-decoration: none;
    /*retirer la ligne sous le texte*/
}

.list-style-none {
    list-style: none;
    /*retirer le rond des liste*/
}

.bold {
    font-weight: 800;
    /*mettre en gras*/
}

.texte-center {
    text-align: center;
    /*centrer le texte*/
}

.majuscule {
    text-transform: uppercase;
    /*majuscule*/
}

.minuscule {
    text-transform: lowercase;
    /*minuscule*/
}

/*Largeurs*/

.width100 {
    width: 100%;
}

.width50 {
    width: 50%;
}

.width48 {
    width: 48%;
}

.width30 {
    width: 30%;
}

.width25 {
    width: 25%;
}

.width20 {
    width: 20%;
}

/*Flex box*/

.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.space-around{
    justify-content: space-around;
}


.align-contentend{
    align-content: flex-end;
}

.gap8 {
    gap: 8px;
}

.gap16 {
    gap: 16px;
}

.gap32 {
    gap: 32px;
}

.gap48{
    gap: 48px;
}

/*margin et padding*/

.margin-top-16 {
    margin-top: 16px;
}

.margin-bot-16 {
    margin-bottom: 16px;
}

.margin-top-32 {
    margin-top: 32px;
}

.margin-bot-32 {
    margin-bottom: 32px;
}

.margin-top-128 {
    margin-top: 128px;
}

.padding-top-16 {
    padding-top: 16px;
}

.padding-bot-32 {
    padding-bottom: 32px;
}

/*container*/

.container1200{
    max-width: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
